body{
    background-color: black;
}


.signIn{
    display: flexbox;
    border: rgb(223, 217, 217) 2px solid;
    margin: 100px 100px;
    padding: 100px 100px;
    
    
}

/* welcome note */

.welcome{
    /* justify-content: center; */
    font-size: 25px;
    color: wheat;

    
    
}

#signIn-button{
    background-color: #0F90F3;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    border: solid 2px white;
}
.right{
    color: wheat;
    margin-top: 100px;
    margin-bottom: 0px;
}